*{
    margin:0;
    font-family: Arial;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 21px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 1px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border : none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}

.span{
    font-size: 0.6rem;
}

.nav-sec{
    font-size: 1rem;
    font-weight: 700;
}

.nav-search:hover{
    border: 2px solid orange;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}